<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div>
    <h1>Расчет задолженности</h1>
    <form action="#" th:action="@{/index}" th:object="${debtDto}" method="post">
        <p>Enter days count: <input type="text" th:field="*{daysCount}"/></p>
        <p>Enter debt sum: <input type="text" th:field="*{debtSum}"/></p>
        <p><input type="submit" value="Submit"/>
            <input type="reset" value="Reset"/></p>
    </form>
</div>
<div>
    <p>Result: <strong th:text="${calcResult}"></strong></p>
</div>

</body>
</html>
